// These styles are for the default layout, _layouts/default.html 

header {
	@include header-styling;
	height: 180px;
	position: fixed;
	text-align: center;
	width: 100%;
	font-weight: 600;
	z-index: 1;

	h1 {
		a {
			text-decoration: none;
		}

		a:hover {
			background: none;
			color: $heading-color;
		}
	}
}

nav {
	padding-top: 194px;   
	position: fixed;  
	left: 0px;  
	top: 0px;
	width: 100%;

	ul {
		text-align: center;

		li {
			display: inline-block;

			a {
				padding: 2px;
			}
		}
	}
}

.main {
	margin: 0 auto 30px auto;
	text-align: justify;

	hr {
		border: 0;  /* reset border */
		border-top: 1px solid $rule-color;
		margin-bottom: 60px;
		width: 60%;
	}

	hr:last-child {
		margin-bottom: 90px;
	}
}

footer {
	@include footer-styling;
	height: 30px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	text-align: center; 
	width: 100%;

	p a {
		background-color: rgba(204, 204, 204, 0.7);
		border: 1px solid $font-color;
		padding: 3px 3px 1px 3px;
		text-decoration: none;
	}
}