@font-face {
	font-family: 'InaiMathi';
	src: url('../font/inaimathi-webfont.eot');
	src: url('../font/inaimathi-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/inaimathi-webfont.woff') format('woff'),
		 url('../font/inaimathi-webfont.ttf') format('truetype'),
		 url('../font/inaimathi-webfont.svg#InaiMathiRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OratorStd';
	src: url('../font/oratorstd-webfont.eot');
	src: url('../font/oratorstd-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/oratorstd-webfont.woff') format('woff'),
		 url('../font/oratorstd-webfont.ttf') format('truetype'),
		 url('../font/oratorstd-webfont.svg#OratorStdRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}