/* Shared */

// changing these will most likely result in margins being off
$default-font: 'InaiMathi';
$heading-font: 'OratorStd';

/* Minimal Theme */
/* try playing around with these guys to easily customize your blog! */

$background-color: #fff;
$font-color: #333;
$heading-color: #333;
$link-color: #333;
$rule-color: #ccc;

@mixin hover-styling {
	background-color: $font-color;
}

@mixin header-styling {}

@mixin footer-styling {}

/* end Minimal Theme */