---
title: root
layout: default
---

{% assign index = true %}
{% for page in paginator.posts %}
{% assign content = page.content %}
{% include post.html %}
{% endfor %}

<div class='pagination'>
	<!-- incase js isn't enabled or for some reason we're at /page/# -->
	{% if paginator.previous_page and page.url != '/' %}
	<div class='previous'>
		<a href='{{ paginator.previous_page }}'>Newer</a>
	</div>
	{% endif %}

	<span>{{ paginator.page }} of {{ paginator.total_pages }}</span>

	{% if paginator.next_page %}
	<div class='next'>
		<a href='{{ paginator.next_page }}'>Older</a>
	</div>
	{% endif %}
</div>
